*{
margin:0;
padding:0;
box-sizing:border-box;
}
.container{
	width:50%;
	height:600px;
	margin:auto;
	border:3px solid rgb(33, 25, 71);
	background-color:rgb(222, 156, 151);
	border-radius:40px 0px 40px 0px;
	margin-top:10px;
}
.container:hover{
	box-shadow:0px 0px 10px rgb(33, 25, 71);
}
.image{
	width:28%;
	margin-left:250px;
	margin-top:50px;
}
.ima1{
	width:100%;
	height:200px;
	border-radius:50%;
	border:3px inset rgb(33, 25, 71);
	cursor:pointer;
}
.ima1:hover{
	box-shadow:0px 0px 7px rgb(33, 25, 71);
	width:105%;
	height:200px;
}
h1,.pa1,span{
	margin-top:20px;
}
h1{
	color:rgb(33, 25, 71);
	text-transform:capitalize;
	letter-spacing:2px;
	cursor:pointer;
	width:25%;
	margin-left:260px;
	text-align:center;
}
h1:hover{
	text-shadow:-5px -5px 5px rgb(33, 25, 71);
	font-size:35px;
	border:2px grove black;
	background-color:skyblue;
	border-radius:0px 20px;
	box-shadow:4px 4px 5px black;
}
span{
	color:rgb(53, 91, 105);
	text-transform:capitalize;
	font-style:italic;
	letter-spacing:2px;
	text-align:center;
	cursor:pointer;
	width:40%;
	margin-left:260px;
}
span:hover{
	color:red;
	font-size:15px;
}
.pa1{
	color:rgb(33, 25, 71);
	text-transform:capitalize;
	letter-spacing:2px;
	line-height:1,5;
	word-spacing:2px;
	text-align:justify;
	text-indent:50px;
	margin-top:30px;
	cursor:pointer;
	font-weight:600;
	font-family:arial;
}
.pa1{
	visibility:hidden;
}

span:hover ~ .pa1{
	visibility:visible;
}

.di{
	display:inline;
	margin-left:20px;
	font-size:25px;
	border:2px solid rgb(33, 25, 71);
	padding:10px;
	border-radius:50px;
	cursor:pointer;
}
.di:hover{
	background-color:skyblue;
	padding:15px;
	border-color:red;
	box-shadow:0px 0px 10px black;
}
.di:active{
	background-color:silver;
	border-color:black;
}
.fg{
	margin-top:30px;
	margin-left:175px;
}
a:link{
	color:blue;
}
a:hover{
	color:black;
} 
.yo:active{
	color:red;
}
.in:active{
	color:purple;
}
.fd:active{
	color:blue;
}
.li:active{
	color:blue;
}
.tw:active{
	color:blue;
}
.container2{
	width:30%;
	height:500px;
	margin:auto;
	border:3px solid rgb(33, 25, 71);
	background-color:skyblue;
	border-radius:40px 0px 40px 0px;
	margin-top:10px;
}
.container2:hover{
	width:32%;
}
.taj{
	width:95%;
	height:270px;
	cursor:pointer;
	margin:auto;
}
.ima{
	width:100%;
	border-radius:35px 35px 35px 35px;
	cursor:pointer;
	margin-top:10px;
}
.ima:hover{
	width:101%;
	box-shadow:0px 0px 15px purple;
}
.pa2{
display:inline-block;
font-family:monospace;
font-weight:600;
letter-spacing:1px;
line-height:1.5;
word-spacing:2px;
text-indent:20px;
text-align:justify;
font-size:large;
}
.pa{
height:200px;
border-radius:0px 0px 30px 0px;
margin-top:22px;
}
.pa{
	visibility:hidden;
}
.taj:hover~.pa{
visibility:visible;
}	